<h1>EDA and Feature Engineering on Flight prediction dataset</h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel("flight-price.xlsx",)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

In [6]:
## Feature engineering
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
df.info()

In [8]:
## Convert date,month and year in numerical value

df['Date'] = df['Date'].astype(int)
df['Month']= df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [ ]:
df.info()

In [10]:
#drop date_of_journey column
df.drop('Date_of_Journey',axis=1,inplace=True)

In [13]:
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x:x.split(" ")[0])

In [14]:
#split arrival time

df['Arrival_hour'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min'] = df['Arrival_Time'].str.split(':').str[1]

In [15]:
## Convert into integer

df['Arrival_hour'] = df['Arrival_hour'].astype(int)
df['Arrival_min'] = df['Arrival_min'].astype(int)

In [16]:
df.drop('Arrival_Time',axis=1,inplace=True)

In [17]:
## handling departure time
df['Departure_hour'] = df['Dep_Time'].str.split(':').str[0]
df['Departure_min'] = df['Dep_Time'].str.split(':').str[1]
df['Departure_hour'] = df['Departure_hour'].astype(int)
df['Departure_min'] = df['Departure_min'].astype(int)

In [18]:
df.drop('Dep_Time',axis=1,inplace=True)

In [ ]:
#Total stops column , dealing with categorical data

df['Total_Stops'].unique()

In [ ]:
df[df['Total_Stops'].isnull()]

In [22]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, np.nan:1, '4 stops':4})

In [93]:
df.head()

,Total_Stops,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hour,Duration_min
0,0,3897,24,3,2019,1,10,22,20,2,50
1,2,7662,1,5,2019,13,15,5,50,7,25
2,2,13882,9,6,2019,4,25,9,25,19,NaN
3,1,6218,12,5,2019,23,30,18,5,5,25
4,1,13302,1,3,2019,21,35,16,50,4,45

In [ ]:
#Fixing Duration
df['Duration_hour'] = df['Duration'].str.split(" ").str[0].str.split('h').str[0]
df['Duration_min'] = df['Duration'].str.split(" ").str[1].str.split('m').str[0]

In [ ]:
df['Duration_hour'] = df['Duration_hour'].astype(int)
df['Duration_min'] = df['Duration_min'].astype(int)

In [57]:
df.drop('Duration',axis=1,inplace=True)

In [60]:
#drop route
df.drop('Route',axis=1,inplace=True)

In [78]:
#encoding 
from sklearn.preprocessing import OneHotEncoder

In [92]:
df[['Airline', 'Source', 'Destination', 'Additional_Info']]

KeyError: "None of [Index(['Airline', 'Source', 'Destination', 'Additional_Info'], dtype='object')] are in the [columns]"

In [82]:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

encoded=encoder.fit_transform( df[['Airline', 'Source', 'Destination', 'Additional_Info']])

In [ ]:
encoded

In [85]:
encoded_col_names = encoder.get_feature_names_out(
    ['Airline', 'Source', 'Destination', 'Additional_Info']
)

In [ ]:
encoded_df = pd.DataFrame(encoded,columns=encoded_col_names)
encoded_df

In [87]:
## drop source, destination,airline, and additional_infor
df.drop('Airline',axis=1,inplace=True)
df.drop('Source',axis=1,inplace=True)
df.drop('Destination',axis=1,inplace=True)
df.drop('Additional_Info',axis=1,inplace=True)

In [88]:
df.head()

,Total_Stops,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hour,Duration_min
0,0,3897,24,3,2019,1,10,22,20,2,50
1,2,7662,1,5,2019,13,15,5,50,7,25
2,2,13882,9,6,2019,4,25,9,25,19,NaN
3,1,6218,12,5,2019,23,30,18,5,5,25
4,1,13302,1,3,2019,21,35,16,50,4,45

In [89]:
final_df = pd.concat([encoded_df,df])

In [90]:
final_df.head()

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,...,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hour,Duration_min
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21366 entries, 0 to 10682
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Airline_Air Asia                              10683 non-null  float64
 1   Airline_Air India                             10683 non-null  float64
 2   Airline_GoAir                                 10683 non-null  float64
 3   Airline_IndiGo                                10683 non-null  float64
 4   Airline_Jet Airways                           10683 non-null  float64
 5   Airline_Jet Airways Business                  10683 non-null  float64
 6   Airline_Multiple carriers                     10683 non-null  float64
 7   Airline_Multiple carriers Premium economy     10683 non-null  float64
 8   Airline_SpiceJet                              10683 non-null  float64
 9   Airline_Trujet                                10683 non-null  float64
 10  Airline_Vistara                               10683 non-null  float64
 11  Airline_Vistara Premium economy               10683 non-null  float64
 12  Source_Banglore                               10683 non-null  float64
 13  Source_Chennai                                10683 non-null  float64
 14  Source_Delhi                                  10683 non-null  float64
 15  Source_Kolkata                                10683 non-null  float64
 16  Source_Mumbai                                 10683 non-null  float64
 17  Destination_Banglore                          10683 non-null  float64
 18  Destination_Cochin                            10683 non-null  float64
 19  Destination_Delhi                             10683 non-null  float64
 20  Destination_Hyderabad                         10683 non-null  float64
 21  Destination_Kolkata                           10683 non-null  float64
 22  Destination_New Delhi                         10683 non-null  float64
 23  Additional_Info_1 Long layover                10683 non-null  float64
 24  Additional_Info_1 Short layover               10683 non-null  float64
 25  Additional_Info_2 Long layover                10683 non-null  float64
 26  Additional_Info_Business class                10683 non-null  float64
 27  Additional_Info_Change airports               10683 non-null  float64
 28  Additional_Info_In-flight meal not included   10683 non-null  float64
 29  Additional_Info_No Info                       10683 non-null  float64
 30  Additional_Info_No check-in baggage included  10683 non-null  float64
 31  Additional_Info_No info                       10683 non-null  float64
 32  Additional_Info_Red-eye flight                10683 non-null  float64
 33  Total_Stops                                   10683 non-null  float64
 34  Price                                         10683 non-null  float64
 35  Date                                          10683 non-null  float64
 36  Month                                         10683 non-null  float64
 37  Year                                          10683 non-null  float64
 38  Arrival_hour                                  10683 non-null  float64
 39  Arrival_min                                   10683 non-null  float64
 40  Departure_hour                                10683 non-null  float64
 41  Departure_min                                 10683 non-null  float64
 42  Duration_hour                                 10683 non-null  object
 43  Duration_min                                  9651 non-null   object
dtypes: float64(42), object(2)
memory usage: 7.3+ MB