<h3>Clean and preparing the data for model training</h3>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv("Data/train.csv")

In [5]:
df_test = pd.read_csv("Data/test.csv")

In [ ]:
df_train.info()

Append train and test data

In [ ]:
df = pd.concat([df_train,df_test],ignore_index=True)
df

In [52]:
df.head()

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,A,B,C
0,P00069042,0.0,1.0,10.0,A,2,0.0,3.0,NaN,NaN,8370.0,True,False,False
1,P00248942,0.0,1.0,10.0,A,2,0.0,1.0,6.0,14.0,15200.0,True,False,False
2,P00087842,0.0,1.0,10.0,A,2,0.0,12.0,NaN,NaN,1422.0,True,False,False
3,P00085442,0.0,1.0,10.0,A,2,0.0,12.0,14.0,NaN,1057.0,True,False,False
4,P00285442,1.0,7.0,16.0,C,4+,0.0,8.0,NaN,NaN,7969.0,False,False,True

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1567334 entries, 0 to 783666
Data columns (total 14 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Product_ID                  783667 non-null   object
 1   Gender                      783667 non-null   float64
 2   Age                         783667 non-null   float64
 3   Occupation                  783667 non-null   float64
 4   City_Category               783667 non-null   object
 5   Stay_In_Current_City_Years  783667 non-null   object
 6   Marital_Status              783667 non-null   float64
 7   Product_Category_1          783667 non-null   float64
 8   Product_Category_2          537685 non-null   float64
 9   Product_Category_3          237858 non-null   float64
 10  Purchase                    550068 non-null   float64
 11  A                           1567334 non-null  bool
 12  B                           1567334 non-null  bool
 13  C                           1567334 non-null  bool
dtypes: bool(3), float64(8), object(3)
memory usage: 148.0+ MB

drop user_id column its of no use

In [12]:
df.drop(["User_ID"],axis=1,inplace=True)

Convert Gender into zero and one, F = 0 and M = 1

In [15]:
df["Gender"] = df["Gender"].map({'F':0,"M":1})

Handle Age column, it's categorical feature

In [35]:
df["Age"].unique()

array([1, 7, 3, 5, 6, 4, 2])

In [22]:
#ordinal encoding using map function
df["Age"] = df["Age"].map({'0-17':1, '55+':7, '26-35':3, '46-50':5, '51-55':6, '36-45':4, '18-25':2})

Handling city category

In [36]:
df["City_Category"].unique()

array(['A', 'C', 'B'], dtype=object)

In [40]:
df_city = pd.get_dummies(df["City_Category"])

In [51]:
df =pd.concat([df,df_city],axis=1)

In [55]:
df.drop(["City_Category"],inplace=True,axis=1)

check the null values

In [56]:
df.isnull().sum()

Product_ID                     783667
Gender                         783667
Age                            783667
Occupation                     783667
Stay_In_Current_City_Years     783667
Marital_Status                 783667
Product_Category_1             783667
Product_Category_2            1029649
Product_Category_3            1329476
Purchase                      1017266
A                                   0
B                                   0
C                                   0
dtype: int64